/* My own CSS file */
:root { 
    /* copying the colour values bootstrap uses */
    --blue:    #0d6efd;
    --indigo:  #6610f2;
    --purple:  #6f42c1;
    --pink:    #d63384;
    --red:     #dc3545;
    --orange:  #fd7e14;
    --yellow:  #ffc107;
    --green:   #198754;
    --teal:    #20c997;
    --cyan:    #0dcaf0;
    --white:    #fff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black:    #000;
    --primary:   var(--blue);
    --secondary: var(--gray-600);
    --success:   var(--green);
    --info:      var(--cyan);
    --warning:   var(--yellow);
    --danger:    var(--red);    
    --light:     var(--gray-100);
    --dark:      var(--gray-900);
}

a:hover {
    color: var(--light);
}

/* colour of links */
a {
    color: var(--warning);
}

/* adjusting pagination to the general theme */
.page-item.active .page-link {
    color: var(--dark);
    background-color: var(--warning);
    border-color: var(--warning);
}

.page-link:hover {
    color: var(--warning);
    background-color: var(--secondary);
}

.page-link {
    color: var(--warning);
    background-color: var(--dark);
}

.page-item.disabled .page-link {
    background-color: var(--dark);
    color: var(--secondary);
}

pre {
    white-space: pre-wrap;
}

.form-control:focus {
    border-color: var(--warning);
    box-shadow: var(--warning) / 25%;
}

.dropdown-menu {
    background-color: var(--warning);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--warning);
    background-color: var(--dark);
}

.pagination {
    justify-content: center;
}